body {
  margin: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

@media (max-width: 600px) {
  body {
    /*
      Go small on skinny screens
      Doing it via zoom instead of font-size means that chart fonts follow as well
    */
    zoom: 70%;
  }
}

@media (min-width: 1000px) {
  body {
    /* Go spacious on big screens */
    margin: 50px;
  }
}

h2 {
  margin-top: 2em;
}

a {
  color: #00B7FF;
}

div.wideBlock {
  width: 100%;
  overflow: auto;
}

table {
  border: solid 1px #ddd;
  border-collapse: collapse;
}

table tr {
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
}

table th,
table td {
  padding: 0.7em 1em;
  font-weight: normal;
}

  @media only screen and (max-width: 600px) {
    table th,
    table td {
      padding: 0.2em 0.3em;
    }
  }

table.performanceByPeriod th,
table.performanceByPeriod td {
  text-align: center;
}

  table.performanceByPeriod th.negative-result,
  table.performanceByPeriod td.negative-result {
    background-color: #fee;
    color: #a00;
  }

  table.performanceByPeriod th.positive-result,
  table.performanceByPeriod td.positive-result {
    background-color: #efe;
    color: #090;
  }

  table.performanceByPeriod th:not(:last-child),
  table.performanceByPeriod td:not(:last-child) {
    border-right: solid 1px #ddd;
  }

div.chart {
  position: relative;
  height: 80vh;
  max-height: 500px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: solid 1px #f4f4f4;
}

@media (orientation: portrait) {
  div.chart {
    /* Keep the aspect ratio of the chart sensible in portrait scenarios */
    height: 60vw;
  }
}

table#balanceHistoryLegend {
  margin-top: 2em;
  width: 100%;
}

  table#balanceHistoryLegend thead {
    background-color: #e3e3e3;
  }

  table#balanceHistoryLegend tr.valueTypeHeader {
    background-color: #f0f0f0;
    font-style: italic;
  }

  table#balanceHistoryLegend th {
    text-align: left;
  }

  table#balanceHistoryLegend th.checkbox {
    width: 1em;
    padding-right: 0;
    text-align: center;
  }

  table#balanceHistoryLegend .balance {
    padding-left: 1em;
    text-align: right;
    border-left: solid 1px #ddd;
  }

  table#balanceHistoryLegend tfoot .balance {
    border-top: double 3px #444;
  }

  table#balanceHistoryLegend .label canvas {
    margin: 0 0.5em 0 0;
  }

  table#balanceHistoryLegend .label span.asAt {
    color: #ccc;
  }

footer {
  margin-top: 3em;
  color: #ccc;
  font-size: 9px;
}

  footer a {
    color: #acf;
  }
