extends layout

block content
    h1 Beanni
    p His name was Beanni! 🎶

    h2 Net Worth
    p He's worth: #{netWorth.toLocaleString('en', { style: 'currency', currency: 'AUD' })}

    h2 Balances
    div(style='width: 100%; height: 600px;')
        canvas#balanceHistoryChart
        script.
            new Chart('balanceHistoryChart', {
                type: 'bar',
                data: !{JSON.stringify(balanceHistoryChartData)},
                options: {
                    scales: {
                        xAxes: [{stacked: true}],
                        yAxes: [{stacked: true}]
                    }
                }
            });
