doctype html
html
  head
    title Beanni
    link(rel='stylesheet', href='/stylesheets/style.css')/
  body
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js')
    block content
