doctype html
html
  head
    title Beanni
    link(rel='stylesheet', href='/stylesheets/style.css')/
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')/
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')/
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')/
    link(rel='manifest', href='/site.webmanifest')/
    meta(name='viewport', content='width=device-width, initial-scale=1')/
  body
    script(src='https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js')
    block content
    footer
      p Favicon CC-BY 4.0 from 
        a(href='https://favicon.io/emoji-favicons/dollar-banknote') https://favicon.io/emoji-favicons/dollar-banknote
